

}

body {

 background-image: url("../images/graybackground.jpg");
  font-family: Helvetica, Sans-Serif;
}

header {

  position: relative;
	background-color: white;
	padding-bottom: 5px;
	border-bottom: 2px solid black;
  color: #333;
  width: 100%;
	overflow: hidden;
	height: .2;
	margin-bottom: 35px;
}


h1 {
  font-family: "sans-serif", Times New Roman;
  	font-size: 20px;
	color: white;
    background-color: #4aaaa5;
	padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;

}

h2{
	color: #4aaaa5;
	font-family: Times New Roman, Times;
	border-bottom: solid lightgray;
	line-height: 200%;
	font-size: 30px;
  
}

h3 {
	color: #4aaaa5;
	font-family: Times New Roman, Times;
	border-bottom: solid lightgray;
	line-height: 200%;
	font-size: 25px;

}


.container{
			width: 960px;
			margin: 0 auto;
			}

			

.header{
	background: white;
	width: 100%;
	top: 0;
	position: fixed;
	height: 82px;
	border-bottom-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: 2px;

}
#logo{
	position: absolute;
	float: left;
	color: white;
	margin: 0;
	font-size: 28px;
}
a{
	text-decoration: none;
	color: #777777;
}
li{
	list-style: none;
}
#bar{
	float: right;
	color: #777777;
	list-style: none;
	margin-top: 0px;
	padding-left: 80px;

}
nav ul{
	list-style: none;
}
nav li{
	float: left;
	padding-right: 10px;
	margin-top: 15px;
}



.footer2 {
	position: fixed;
	bottom: 0;
	background-color: #666666;
	color: white;
    text-align: center;
    height: 50px;
    width: 100%;
    padding-top: 30px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border-top: thick #4aaaa5;
    border-top-style: solid;
    border-top-width: 10px;
}


#portfolio {

	color: #525252;
	background-color: white;
	float: left;
	width: 650px;
	font-size: 20px;
	padding-right: 5px;
	padding-left: 20px;
	padding-bottom: 99px;
	margin-left: 100px;
	margin-top: 110px;
	text-align: left;
	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;

}	


#portfolio2 {

	color: #525252;
	background-color: white;
	float: left;
	width: 650px;
	font-size: 20px;
	padding-right: 5px;
	padding-left: 20px;
	padding-bottom: 100px;
	margin-left: 100px;
	margin-top: 110px;
	text-align: left;
	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;

}	

#connectwithme {


	color: #4aaaa5;
	background-color: white;
	float: left;
    width: 270px;
	font-size: 20px;
	padding-right: 5px;
	padding-left: 20px;
	padding-bottom: 30px;
	margin-left: 40px;
	margin-top: 110px;
	font-size: 16px;
	text-align: center;
	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;
	
}

.submit {

	background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 100px;
    height: 100%;
    cursor: pointer;

}

#bio-image {
	border: 3px solid black;
	float: left;
	margin-right: 10px;
}

#socialmediaicons {

float: left;
	text-align: left;
	margin: 13px;

}


#contactform {
	font-family: 'Arial', Times, Times New Roman, serif;
	color: #525252;
	background-color: white;
	float: left;
	width: 650px;
	font-size: 15px;
	padding-right: 5px;
	padding-left: 20px;
	padding-bottom: 23px;
	margin-left: 100px;
	margin-top: 110px;
	text-align: left;
	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;
	line-height: 120%;


}


#portfoliopage{


	border: 2px solid black;
}

.port{
	position: relative;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 0px;
	margin-left: 70px;
}
.box{
	position: absolute;
	text-align: center;
	background-color: #4aaaa5;
	height: 30px;
	width: 204px;
	top: 120px;
	font-size: 18px;
	color: white;
	padding-top: 10px;
}

*/
